{% macro links_for(article) %}
{% if article.status != 'hidden' %}
	<link rel="canonical" type="text/html" hreflang="{{ article.lang }}" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|escape }}" />
{% if article.translations %}
{% if article.url|length == 2 %}
	<link rel="alternate" type="text/html" hreflang="x-default" href="{{ SITEURL }}/" />
{% endif %}
	<link rel="alternate" type="text/html" hreflang="{{ article.lang }}" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|escape }}" />
{% endif %}
{% for translation in article.translations|sort(attribute='lang') %}
	<link rel="alternate" type="text/html" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}" title="{{ translation.title|escape }}" />
{% endfor %}
{% if TRANSLATION_FEED_ATOM %}
	<link rel="alternate" type="application/atom+xml" hreflang="{{ article.lang }}" href="{{ FEED_DOMAIN }}/{{ TRANSLATION_FEED_ATOM|format(article.lang) }}" title="{{ SITENAME }} Atom Feed ({{ article.lang }})" />
{% for translation in article.translations|sort(attribute='lang') %}
	<link rel="alternate" type="application/atom+xml" hreflang="{{ translation.lang }}" href="{{ FEED_DOMAIN }}/{{ TRANSLATION_FEED_ATOM|format(translation.lang) }}" title="{{ SITENAME }} Atom Feed ({{ translation.lang }})" />
{% endfor %}
{% endif %}
{% if TRANSLATION_FEED_RSS %}
	<link rel="alternate" type="application/rss+xml" hreflang="{{ article.lang }}" href="{{ FEED_DOMAIN }}/{{ TRANSLATION_FEED_RSS|format(article.lang) }}" title="{{ SITENAME }} RSS Feed ({{ article.lang }})" />
{% for translation in article.translations|sort(attribute='lang') %}
	<link rel="alternate" type="application/rss+xml" hreflang="{{ translation.lang }}" href="{{ FEED_DOMAIN }}/{{ TRANSLATION_FEED_RSS|format(translation.lang) }}" title="{{ SITENAME }} RSS Feed ({{ translation.lang }})" />
{% endfor %}
{% endif %}
{% endif %}
{% if FEED_ALL_ATOM %}
	<link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
	<link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% endmacro %}
